<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(item,index) in fruits">{{item+'--------'+index}}</li>
            <li v-for="(item,index) in myshit">{{item}}</li>
            <!-- v-for循环对象 -->
            <li v-for="(value,key,index) in obj">{{ value+'--'+key+'--'+index}}</li>
        </ul>
    </div>
    <script src="../vue.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                obj:{
                    name:'邓浩',
                    age:82
                },
                fruits: ['apple', 'orange', 'banner', 'shit'],
                myshit: [{
                    ename: 'apple',
                    cname: '苹果'
                }, {
                    ename: 'orange',
                    cname: '橘子'
                }, {
                    ename: 'banner',
                    cname: '香蕉'
                }, {
                    ename: 'shit',
                    cname: '老八快乐餐'
                }]
            },
            methods: {

            }
        })
    </script>
</body>

</html>